* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.bg_badge {
    background-color: rgb(22, 91, 186);
}

/* header */

header {
    height: 100px;
}

nav img {
    width: 80px;
}

/* sidebar */

.sidebar {
    width: 100px;
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
    padding: 0;
    margin-top: 100px;
    height: calc(100vh - 100px);
}

.sidebar i {
    color: #fff;
    font-size: 25px;
}

.sidebar span {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.navbar .nav-item .nav-link:hover  {
    background-color: rgba(128, 128, 128, 0.5);
}

/* main */

main {
    margin-top: 100px;
    margin-left: 100px;
}

main .main_top {
    background-color: rgb(58, 131, 232);
}

/* media queary - desktop */

@media screen and (min-width: 992px) {
    .sidebar {
        width: 150px;
    }
    nav img {
        width: 130px;
    }
    main {
        margin-left: 150px;
    }
}