* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.h_200 {
    height: 200px;
}

.h_300 {
    height: 300px;
}

.h_400 {
    height: 400px;
}

.h_500 {
    height: 500px;
}

.h_600 {
    height: 600px;
}

/* header */

header {
    height: 100px;
}

nav img {
    width: 80px;
}

/* sidebar */

.sidebar {
    width: 100px;
    background-color: rgb(5, 30, 52);
    padding: 0;
    margin-top: 100px;
    height: calc(100vh - 100px);
}

.sidebar i {
    color: #fff;
    font-size: 25px;
}

.sidebar span {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

/* main */

main {
    margin-top: 100px;
    margin-left: 100px;
}

main .main_top {
    background-color: rgb(27, 114, 232);
}

/* media queary - desktop */

@media screen and (min-width: 992px) {
    .sidebar {
        width: 150px;
    }
    nav img {
        width: 130px;
    }
    main {
        margin-left: 150px;
    }
}